<% if current_user.present? && current_user.id == @status.user_id  %>

	<h1>Editing Status</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @status %> |
	<%= link_to 'Back', statuses_path %>

<% else %>
<h1 class="error">Error 404 Page not Found</h1>

<% end %>